/******GLOBALS******/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
	text-decoration: none;
}

.center{
	text-align: center;
}

/******HEADER******/


/******NAVIGATION******/
.navigation{
	background-color: #fff;
	border: 1px solid red;
}

.container{
	width: 950px;
	height: 75px;
	margin: 0 auto;
}

.logo{
	width: 28px;
	height: auto;
	margin: 15px 0 0 25px;
}

.nav-links{
	display: inline-block;
}
.nav-links > li{
	display: inline;
}
.nav-links a{
	font-weight: bold;
	color: #aaa;
}

.title a{
	color: #444;
}
.nav-links a:hover{
	color: #000;
}

