/******GLOBALS******/
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
	text-decoration: none;
}

.center{
	text-align: center;
}

.container{
	width: 950px;
	margin: 0 auto;
	padding: 0 5em;
}

button{
	margin: 1.25em;
	padding: 16px 32px;
	color: #fff;
	font-size: 1.15em;
	background-color: #f15a29;
	border: none;
	border-radius: 5px;
	-webkit-transition: background-color .5s;
    transition: background-color .5s;
}

button:hover{
	background-color: #d9400e;
}

/******NAVIGATION******/
.navigation{
	width: 100%;
	background-color: #fff;
	height: 75px;
	position: fixed;
	z-index: 9999;
	border-bottom: .5px solid #ddd;
}

.logo{
	width: 28px;
	height: auto;
	margin-top: 15px;
}

.nav-links{
	float: right;
	margin-top: 27px;
	padding: 0;
}
.nav-links > li{
	display: inline;
	margin-left: 25px;
}
.nav-links a{
	font-size: 17px;
	letter-spacing: 0.03em;
	color: #666;
	font-weight: 400;
	-webkit-transition: color .5s;
    transition: color .5s;
}

.title a{
	color: #444;
	font-weight: 500;
}
.nav-links a:hover{
	color: #000;
}

/******LANDING******/
.landing{
	width: 100%;
	height: 45.938rem;
	background: url(../imgs/landing.jpg) no-repeat center bottom;
  	background-size: cover;
  	overflow: hidden;
}

.landing h1, .landing h3{
	margin: 0;
	color: #fff;
	font-weight: 200;
}

.landing h1{
	font-size: 3.125em;
	margin-top: 5.50em;
}
.landing h3{
	font-size: 1.55em;
	margin-top: .5em;
}

/*****ICONS SECTION*******/
.icons-section{
	overflow: auto;
	padding-bottom: 5em;
}

.icons-section h2{
	font-size: 2.75em;
	color: #444;
	font-weight: 200;
	margin-top: 2.75em;
	margin-bottom: 1em;
}

.icons-section p{
	margin-top: 1.5em;
	font-size: 1.5em;
}

.column{
	width: 33.33333%;
	padding: 0 2%;
	float: left;
}

/*****FOOTER SECTION*******/
footer{
	padding-bottom: 8em;
}

footer > div{
	border-top: .5px solid #ddd; 
}

.footer-links{
	padding: 0;
}

.footer-links >li{
	display: inline-block;
	margin: 0 .5em;
	border-radius: 50%;
	border: 1px solid #ddd;
	-webkit-transition: background-color .5s;
    transition: background-color .5s;
}
.footer-links >li:hover{
	background-color: #000;
}

.footer-links a{
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: .5em;
}

.fa-facebook{
	color: #4C66A4;
}

.fa-twitter{
	color: #5AACEE;
}

.fa-instagram{
	color:#3F72A7;
}

.copyR{
	color: #666;
	font-size: .90em;
	font-weight: 200;
}

/*******MEDIA QUERIES********/
@media screen and (max-width: 975px){
	.container{
		width: 100%;
	}
}
