/******GLOBALS******/
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
	text-decoration: none;
}

.center{
	text-align: center;
}

.container{
	width: 950px;
	margin: 0 auto;
	padding: 0 5em;
}

button{
	margin: 1.25em;
	padding: 16px 32px;
	color: #fff;
	font-size: 1.15em;
	background-color: #f15a29;
	border: none;
	border-radius: 5px;
	-webkit-transition: background-color .5s;
    transition: background-color .5s;
}

button:hover{
	background-color: #d9400e;
}

/******NAVIGATION******/
.navigation{
	width: 100%;
	background-color: #fff;
	height: 75px;
	position: fixed;
}

.logo{
	width: 28px;
	height: auto;
	margin-top: 15px;
}

.nav-links{
	float: right;
	margin-top: 27px;
	padding: 0;
}
.nav-links > li{
	display: inline;
	margin-left: 25px;
}
.nav-links a{
	font-size: 17px;
	letter-spacing: 0.03em;
	color: #666;
	font-weight: 400;
	-webkit-transition: color .5s;
    transition: color .5s;
}

.title a{
	color: #444;
	font-weight: 500;
}
.nav-links a:hover{
	color: #000;
}

/******HEADER******/
.landing{
	width: 100%;
	height: 45.938rem;
	background: url(../imgs/landing.jpg) no-repeat center bottom;
  	background-size: cover;
  	overflow: auto;
}

.landing h1, .landing h3{
	margin: 0;
	color: #fff;
	font-weight: 200;
}

.landing h1{
	font-size: 3.125em;
	margin-top: 5.50em;
}
.landing h3{
	font-size: 1.55em;
	margin-top: .5em;
}

